a:hover{
  text-decoration: none;
}
img{
	display: block;
	width: 100%;
}
.navbar-brand img{
	display: block;
	width: 20px;
	height: 20px;
}
.sider-bar .list-group-item{
	border: 0;
	margin-bottom: 10px;
}
.sider-bar .list-group-item.active{
	background: orangered;
}
.news-list-item .title{
	font-size: 18px;
	font-weight: bold;
	color: #444444;
}
.news-list-item .title:hover{
	text-decoration: none;
}
.news-list-item .desc{
	margin-top: 13px;
	color: #999999;
}
.news-list-item .desc img{
	display: inline-block;
	width: 18px;
}
.news-list-item{
	padding: 15px 0;
	border-bottom: 1px solid #C0C0C0;
}
.news-list-item:first-child{
	padding-top: 0;
}
.sider-bar-card.flag{
	margin-top: 20px;
}
.sider-bar-card.flag .title{
	font-size: 16px;
	font-weight: 800;
	line-height: 1.7;
}
.sider-bar-card{
	padding: 10px 0;
	background: #E8E8E8;
	margin-top: 15px;
}
.sider-bar-card .title{
	padding: 0 20px;
	font-weight: bold;
	font-size: 15px;
}
.sider-bar-card .list .item .cont{
	color: #444444;
	text-decoration: none;
}
.sider-bar-card .list .item .desc{
	color: #999999;
	margin-top: 5px;
}
.sider-bar-card .list .item{
	padding: 10px 20px;
}
.sider-bar-card .list .item:hover{
	background: #D4D4D4;
}
.news-desc h1{
  font-size: 26px;
  font-weight: bold;
  padding-bottom: 5px;
}
.news-desc .desc{
  color: #999999;
}.news-desc .detail{
   margin-top: 5px;
   line-height: 1.7;
}

.news-desc img{
   display: block;
   width: 60%;
}
.container-small{
   width: 500px;
}
.btn{
 color: #F8F8F8;
  background: #337AB7;
}
.btn:hover{
  background: #2E6DA4;
}
.input-group-btn .btn{
  background: white;
  color: #444444;
}
.input-group-btn .btn:hover{
   background: #D4D4D4;
}
.footer{
	text-align: center;
	color: #777777;
	padding: 50px 50px;
}
#toggle-checkbox:checked ~ div{
   display: block !important;
}
#toggle-label{
   display: inline-block;
   position: absolute;
   right: 15px;
   top: 13px;
   font-size: 16px;
   font-weight: normal;
   color: #666666;
   display: none;
}
